<!-- BGKP Harian -->
<details>
            <summary><b>BGKP Harian</b> (selengkapnya klik disini)</summary>
            <div class="bgkp">
<div class="w3-container w3-card" style="background-color:#d6ece6">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">BGKP Harian</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>RD Djoko Noegroho</b></br>
<span class="darkgreyfont">Wakil: </span>
    <b>RD. Yohanes Setiawan</b>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('RD Djoko Noegroho','/img/person/ketua-dpp-harian.jpg','DPP HARIAN','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-dpp-harian.jpg"/>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('RD. Yohanes Setiawan','/img/person/wakil-dpp-harian.jpg','DPP HARIAN','Wakil')">
    <img class="iconcircle" src="/img/person/wakil-dpp-harian.jpg"/>
</td>
</tr>
</table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('B. Didik Sumarsono','/img/person/sekretaris-1-dpp.jpg','BGKP Harian','Sekretaris')">
        <img class="iconsquare" src="/img/person/sekretaris-1-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('B. Didik Sumarsono','/img/person/sekretaris-1-dpp.jpg','BGKP Harian','Sekretaris')">
    <span class="greyfont">Sekretaris</span><br/>
    <span class="greyfont"><br/></span>
    <b>B. Didik Sumarsono</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Chatarina Feliyana Saridewi','/img/person/bendahara-2-dpp.jpg','BGKP Harian','Bendahara 1')">
        <img class="iconsquare" src="/img/person/bendahara-2-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Chatarina Feliyana Saridewi','/img/person/bendahara-2-dpp.jpg','BGKP Harian','Bendahara 1')">
    <span class="greyfont">Bendahara 1</span><br/>
    <span class="greyfont"><br/></span>
    <b>Chatarina Feliyana Saridewi</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Monica Lilik Meliana','/img/person/bendahara-3-dpp.jpg','BGKP Harian','Bendahara 2')">
        <img class="iconsquare" src="/img/person/bendahara-3-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Monica Lilik Meliana','/img/person/bendahara-3-dpp.jpg','BGKP Harian','Bendahara 2')">
    <span class="greyfont">Bendahara 2</span><br/>
    <span class="greyfont"><br/></span>
    <b>Monica Lilik Meliana</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Pemeliharaan & Pengembangan Aset/Fisik Gereja/Pastoran -->
<details>
    <summary><b>Bidang Pemeliharaan & Pengembangan Aset/Fisik Gereja/Pastoran</b> (selengkapnya klik disini)</summary>
            <div class="ngkp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">
<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Ir. Yosef  Sutrisno','/img/person/bppafp1.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
        <img class="iconsquare" src="/img/person/bppafp1.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Ir. Yosef  Sutrisno','/img/person/bppafp1.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
    <span class="greyfont"></span>
    <b>Ir. Yosef  Sutrisno</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Timotheus Elfin Widyatmoko','/img/person/bppafp2.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
        <img class="iconsquare" src="/img/person/bppafp2.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Timotheus Elfin Widyatmoko','/img/person/bppafp2.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
    <span class="greyfont"></span>
    <b>Timotheus Elfin Widyatmoko</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Martinus Sunaryo','/img/person/bppafp3.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
        <img class="iconsquare" src="/img/person/bppafp3.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Martinus Sunaryo','/img/person/bppafp3.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
    <span class="greyfont"></span>
    <b>Martinus Sunaryo</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Adrianus Tri Hardianto','/img/person/bppafp4.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
        <img class="iconsquare" src="/img/person/bppafp3.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Adrianus Tri Hardianto','/img/person/bppafp4.jpg','Bidang Pemeliharaan & Pengembangan','Aset/Fisik Gereja/Pastoran')">
    <span class="greyfont"></span>
    <b>Adrianus Tri Hardianto</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Pengembangan Sumber Daya/Usaha -->
<details>
    <summary><b>Bidang Pengembangan Sumber Daya/Usaha</b> (selengkapnya klik disini)</summary>
            <div class="bgkp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Fredy Wibowo','/img/person/bpsd1.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
        <img class="iconsquare" src="/img/person/bpsd1.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Fredy Wibowo','/img/person/bpsd1.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
    <span class="greyfont"></span>
    <b>Fredy Wibowo</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Aloysius Rudy Hantanto','/img/person/bpsd2.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
        <img class="iconsquare" src="/img/person/bpsd2.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Aloysius Rudy Hantanto','/img/person/bpsd2.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
    <span class="greyfont"></span>
    <b>Aloysius Rudy Hantanto</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Matius Surahmad','/img/person/bpsd3.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
        <img class="iconsquare" src="/img/person/bpsd3.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Matius Surahmad','/img/person/bpsd3.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
    <span class="greyfont"></span>
    <b>Matius Surahmad</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Firman handoko','/img/person/bpsd4.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
        <img class="iconsquare" src="/img/person/bpsd4.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Firman handoko','/img/person/bpsd4.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
    <span class="greyfont"></span>
    <b>Firman handoko</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Susilorini','/img/person/bpsd5.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
        <img class="iconsquare" src="/img/person/bpsd5.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Susilorini','/img/person/bpsd5.jpg','Bidang Pengembangan','Sumber Daya/Usaha')">
    <span class="greyfont"></span>
    <b>Susilorini</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Ketenagaan/Kepegawaian -->
<details>
    <summary><b>Bidang Ketenagaan/Kepegawaian</b> (selengkapnya klik disini)</summary>
            <div class="bgkp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Johannes Pembabtis Sunarto','/img/person/bketenagaan1.jpg','Bidang','Ketenagaan/Kepegawaian')">
        <img class="iconsquare" src="/img/person/bketenagaan1.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Johannes Pembabtis Sunarto','/img/person/bketenagaan1.jpg','Bidang','Ketenagaan/Kepegawaian')">
    <span class="greyfont"></span>
    <b>Johannes Pembabtis Sunarto</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati','/img/person/bketenagaan2.jpg','Bidang','Ketenagaan/Kepegawaian')">
        <img class="iconsquare" src="/img/person/bketenagaan2.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati,'/img/person/bketenagaan2.jpg','Bidang','Ketenagaan/Kepegawaian')">
    <span class="greyfont"></span>
    <b>Lucia Tri Muljati</b>
</td></tr></table></div>

</details>
<br></br>

<!-- Bidang Rumah Tangga Pastoran/Gereja -->
<details>
    <summary><b>Bidang Rumah Tangga Pastoran/Gereja</b> (selengkapnya klik disini)</summary>
            <div class="bgkp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Maria Goretty Dewi Anjani','/img/person/brumahtanga1.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
        <img class="iconsquare" src="/img/person/brumahtanga1.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Maria Goretty Dewi Anjani','/img/person/brumahtangga1.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
    <span class="greyfont"></span>
    <b>Maria Goretty Dewi Anjani</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Maria Theresia Nurjati Watyaningsih','/img/person/brumahtanga2.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
        <img class="iconsquare" src="/img/person/brumahtanga2.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Maria Theresia Nurjati Watyaningsih','/img/person/brumahtanga2.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
    <span class="greyfont"></span>
    <b>Maria Theresia Nurjati Watyaningsih</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati','/img/person/brumahtanga3.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
        <img class="iconsquare" src="/img/person/brumahtanga3.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati','/img/person/brumahtanga3.jpg','Bidang Rumah Tangga','Pastoran/Gereja')">
    <span class="greyfont"></span>
    <b>Lucia Tri Muljati</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Hukum -->
<details>
    <summary><b>Bidang Hukum</b> (selengkapnya klik disini)</summary>
            <div class="bgkp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Andreas Andrie Djatmiko,S.H.,M.Hum','/img/person/bhukum.jpg','Bidang','Hukum')">
        <img class="iconsquare" src="/img/person/brumahtanga1.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Andreas Andrie Djatmiko,S.H.,M.Hum','/img/person/bhukum.jpg','Bidang','Hukum')">
    <span class="greyfont"></span>
    <b>Andreas Andrie Djatmiko,S.H.,M.Hum</b>
</td></tr></table></div>
</details>
<br></br>