<!-- DPP Harian -->
<details>
            <summary><b>DPP Harian</b> (selengkapnya klik disini)</summary>
            <div class="dpp">
<div class="w3-container w3-card" style="background-color:#d6ece6">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">DPP Harian</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>RD Djoko Noegroho</b></br>
<span class="darkgreyfont">Wakil: </span>
    <b>RD. Yohanes Setiawan</b>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('RD Djoko Noegroho','/img/person/ketua-dpp-harian.jpg','DPP HARIAN','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-dpp-harian.jpg"/>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('RD. Yohanes Setiawan','/img/person/wakil-dpp-harian.jpg','DPP HARIAN','Wakil')">
    <img class="iconcircle" src="/img/person/wakil-dpp-harian.jpg"/>
</td>
</tr>
</table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('B. Didik Sumarsono','/img/person/sekretaris-1-dpp.jpg','DPP Harian','Sekretaris 1')">
        <img class="iconsquare" src="/img/person/sekretaris-1-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('B. Didik Sumarsono','/img/person/sekretaris-1-dpp.jpg','DPP Harian','Sekretaris 1')">
    <span class="greyfont">Sekretaris 1</span><br/>
    <span class="greyfont"><br/></span>
    <b>B. Didik Sumarsono</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Edy Wandowo','/img/person/sekretaris-2-dpp.jpg','DPP Harian','Sekretaris 2')">
        <img class="iconsquare" src="/img/person/sekretaris-2-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Edy Wandowo','/img/person/sekretaris-2-dpp.jpg','DPP Harian','Sekretaris 2')">
    <span class="greyfont">Sekretaris 2</span><br/>
    <span class="greyfont"><br/></span>
    <b>Edy Wandowo</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Anastasia Augustine Siswandari','/img/person/bendahara-1-dpp.jpg','DPP Harian','Bendahara 1')">
        <img class="iconsquare" src="/img/person/bendahara-1-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Anastasia Augustine Siswandari','/img/person/bendahara-1-dpp.jpg','DPP Harian','Bendahara 1')">
    <span class="greyfont">Bendahara 1</span><br/>
    <span class="greyfont"><br/></span>
    <b>Anastasia Augustine Siswandari</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Chatarina Feliyana Saridewi','/img/person/bendahara-2-dpp.jpg','DPP Harian','Bendahara 2')">
        <img class="iconsquare" src="/img/person/bendahara-2-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Chatarina Feliyana Saridewi','/img/person/bendahara-2-dpp.jpg','DPP Harian','Bendahara 2')">
    <span class="greyfont">Bendahara 2</span><br/>
    <span class="greyfont"><br/></span>
    <b>Chatarina Feliyana Saridewi</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Monica Lilik Meliana','/img/person/bendahara-3-dpp.jpg','DPP Harian','Bendahara 3')">
        <img class="iconsquare" src="/img/person/bendahara-3-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Monica Lilik Meliana','/img/person/bendahara-3-dpp.jpg','DPP Harian','Bendahara 3')">
    <span class="greyfont">Bendahara 3</span><br/>
    <span class="greyfont"><br/></span>
    <b>Monica Lilik Meliana</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati','/img/person/bendahara-4-dpp.jpg','DPP Harian','Bendahara 4')">
        <img class="iconsquare" src="/img/person/bendahara-4-dpp.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Lucia Tri Muljati','/img/person/bendahara-4-dpp.jpg','DPP Harian','Bendahara 4')">
    <span class="greyfont">Bendahara 4</span><br/>
    <span class="greyfont"><br/></span>
    <b>Lucia Tri Muljati</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Sumber -->
<details>
    <summary><b>Bidang Sumber</b> (selengkapnya klik disini)</summary>
            <div class="dpp">
<div class="w3-container w3-card" style="background-color:#d8d6ec">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Bidang Sumber</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>Y. Heny Supriyanti</b></br>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Y. Heny Supriyanti','/img/person/ketua-bidang-sumber.jpg','Bidang Sumber','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-bidang-sumber.jpg"/>
</td>
</tr>
</table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Kamilus Sukamto','/img/person/koordinator-sie-katekese.jpg','Sie Katekese','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-katekese.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Kamilus Sukamto','/img/person/koordinator-sie-katekese.jpg','Sie Katekese','Koordinator')">
    <span class="greyfont">Koordinator Sie Katekese</span><br/>
    <span class="greyfont"><br/></span>
    <b>Kamilus Sukamto</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Katarina Dyah Paskasita','/img/person/koordinator-sie-liturgi.jpg','Sie Liturgi','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-liturgi.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Katarina Dyah Paskasita','/img/person/koordinator-sie-liturgi.jpg','Sie Liturgi','Koordinator')">
    <span class="greyfont">Koordinator Sie Liturgi</span><br/>
    <span class="greyfont"><br/></span>
    <b>Katarina Dyah Paskasita</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Valentinus Buku','/img/person/koordinator-sie-kitabsuci.jpg','Sie Kitab Suci','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-kitabsuci.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Valentinus Buku','/img/person/koordinator-sie-kitabsuci.jpg','Sie Kitab Suci','Koordinator')">
    <span class="greyfont">Koordinator Sie Kitab Suci</span><br/>
    <span class="greyfont"><br/></span>
    <b>Valentinus Buku</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Formatio -->
<details>
    <summary><b>Bidang Formatio</b> (selengkapnya klik disini)</summary>
            <div class="dpp">
<div class="w3-container w3-card" style="background-color:#d6ece6">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Bidang Formatio</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>A.Y Suryanto</b></br>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('A.Y Suryanto','/img/person/ketua-bidang-formatio.jpg','Bidang Formatio','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-bidang-formatio.jpg"/>
</td>
</tr>
</table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('James Agus Wahyudi ','/img/person/koordinator-sie-keluarga.jpg','Sie Keluarga','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-keluarga.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('James Agus Wahyudi ','/img/person/koordinator-sie-keluarga.jpg','Sie Keluarga','Koordinator')">
    <span class="greyfont">Koordinator Sie Keluarga</span><br/>
    <span class="greyfont"><br/></span>
    <b>James Agus Wahyudi </b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Lucia Eva Perwiratri','/img/person/koordinator-sie-biak.jpg','Sie Biak','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-biak.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Lucia Eva Perwiratri','/img/person/koordinator-sie-biak.jpg','Sie Biak','Koordinator')">
    <span class="greyfont">Koordinator Sie Biak</span><br/>
    <span class="greyfont"><br/></span>
    <b>Lucia Eva Perwiratri</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Ayuning Tyas Candra Dewi','/img/person/koordinator-sie-rekat.jpg','Sie Rekat','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-kitabsuci.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Ayuning Tyas Candra Dewi','/img/person/koordinator-sie-rekat.jpg','Sie Rekat','Koordinator')">
    <span class="greyfont">Koordinator Sie Rekat</span><br/>
    <span class="greyfont"><br/></span>
    <b>Ayuning Tyas Candra Dewi</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Dominika Apriliya Kristiani','/img/person/koordinator-sie-omk.jpg','Sie OMK','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-omk.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Dominika Apriliya Kristiani','/img/person/koordinator-sie-omk.jpg','Sie OMK','Koordinator')">
    <span class="greyfont">Koordinator Sie OMK</span><br/>
    <span class="greyfont"><br/></span>
    <b>Dominika Apriliya Kristiani</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('PC. Priyatni','/img/person/koordinator-sie-lansia.jpg','Sie Lansia','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-lansia.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('PC. Priyatni','/img/person/koordinator-sie-lansia.jpg','Sie Lansia','Koordinator')">
    <span class="greyfont">Koordinator Sie Lansia</span><br/>
    <span class="greyfont"><br/></span>
    <b>PC. Priyatni</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('CH Erma Aris Sulistiowati','/img/person/koordinator-sie-difabel.jpg','Sie Difabel','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-difabel.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('CH Erma Aris Sulistiowati','/img/person/koordinator-sie-difabel.jpg','Sie Difabel','Koordinator')">
    <span class="greyfont">Koordinator Sie Difabel</span><br/>
    <span class="greyfont"><br/></span>
    <b>CH Erma Aris Sulistiowati</b>
</td></tr></table></div>
</details>
<br></br>

<!-- Bidang Kerasulan Umum -->
<details>
    <summary><b>Bidang Kerasulan Umum</b> (selengkapnya klik disini)</summary>
            <div class="dpp">
<div class="w3-container w3-card" style="background-color:#ecd6e9">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Bidang Kerasulan Umum</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>Fransisca Romana Karmi</b></br>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Fransisca Romana Karmi','/img/person/ketua-bidang-kerasulanumum.jpg','Bidang Kerasulan Umum','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-bidang-kerasulanumum.jpg"/>
</td></tr></table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('A. Hadi Handoko','/img/person/koordinator-sie-phubb.jpg','Sie PHUBB','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-phubb.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('A. Hadi Handoko','/img/person/koordinator-sie-phubb.jpg','Sie PHUBB','Koordinator')">
    <span class="greyfont">Koordinator Sie PHUBB</span><br/>
    <span class="greyfont"><br/></span>
    <b>A. Hadi Handoko</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Ernesta Maria','/img/person/koordinator-sie-pse.jpg','Sie PSE','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-phubb.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Ernesta Maria','/img/person/koordinator-sie-pse.jpg','Sie PSE','Koordinator')">
    <span class="greyfont">Koordinator Sie PSE</span><br/>
    <span class="greyfont"><br/></span>
    <b>Ernesta Maria</b>
</td></tr></table></div>

</details>
<br></br>

<!-- Bidang Kerasulan Khusus -->
<details>
    <summary><b>Bidang Kerasulan Khusus</b> (selengkapnya klik disini)</summary>
            <div class="dpp">
<div class="w3-container w3-card" style="background-color:#ecd6e9">

<table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Bidang Kerasulan Khusus</span><br/>
<span class="darkgreyfont">Ketua: </span>
    <b>Yohanes Bagus Kuncoro</b></br>
</td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yohanes Bagus Kuncoro','/img/person/ketua-bidang-kerasulankhusus.jpg','Bidang Kerasulan Khusus','Ketua')">
    <img class="iconcircle" src="/img/person/ketua-bidang-kerasulankhusus.jpg"/>
</td></tr></table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yuliana Asterina','/img/person/koordinator-sie-pendidikan.jpg','Sie Pendidikan','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-pendidikan.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Yuliana Asterina','/img/person/koordinator-sie-pendidikan.jpg','Sie Pendidikan','Koordinator')">
    <span class="greyfont">Koordinator Sie Pendidikan</span><br/>
    <span class="greyfont"><br/></span>
    <b>Yuliana Asterina</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Robertus Dananhadi Pamungkas','/img/person/koordinator-sie-komsos.jpg','Sie Komsos','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-komsos.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Robertus Dananhadi Pamungkas','/img/person/koordinator-sie-komsos.jpg','Sie Komsos','Koordinator')">
    <span class="greyfont">Koordinator Sie Komsos</span><br/>
    <span class="greyfont"><br/></span>
    <b>Robertus Dananhadi Pamungkas</b>
</td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Theresia Muryati','/img/person/koordinator-sie-misioner.jpg','Sie Misioner','Koordinator')">
        <img class="iconsquare" src="/img/person/koordinator-sie-misioner.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Theresia Muryati','/img/person/koordinator-sie-misioner.jpg','Sie Misioner','Koordinator')">
    <span class="greyfont">Koordinator Sie Misioner</span><br/>
    <span class="greyfont"><br/></span>
    <b>Theresia Muryati</b>
</td></tr></table></div>

</details>
<br></br>