<!-- asistenimam.html -->
<div id="agnes" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Albertus Sujiwa','/img/person/albertus-sujiwa.jpg','ASISTEN IMAM','St. Agnes')">
        <img class="iconsquare" src="/img/person/albertus-sujiwa.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Albertus Sujiwa</span><br>St. Agnes
    </td>
    
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Yohanes Rasul Hariyadi','/img/person/yohanes-rasul-hariyadi.jpg','ASISTEN IMAM','St. Agnes')">
        <img class="iconsquare" src="/img/person/yohanes-rasul-hariyadi.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Yohanes Rasul Hariyadi</span><br>St. Agnes
    </td>
  </tr></table>
</div>

<div id="antonius" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Yulius Ignatius Salamun','/img/person/yulius-ignatius-salamun.jpg','ASISTEN IMAM','St. Antonius')">
        <img class="iconsquare" src="/img/person/yulius-ignatius-salamun.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Yulius Ignatius Salamun</span><br>St. Antonius
  </tr></table>
</div>

<div id="christoforus" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Bernardus Didik Sumarsono','/img/person/bernardus-didik-sumarsono.jpg','ASISTEN IMAM',''St. Christoforus')">
        <img class="iconsquare" src="/img/person/bernardus-didik-sumarsono.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Bernardus Didik Sumarsono</span><br>'St. Christoforus
  </tr></table>
</div>

<div id="christoforus" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Filipus Nerius Duali Suprih Adi','/img/person/filipus-nerius-duali.jpg','ASISTEN IMAM',''St. Christoforus')">
        <img class="iconsquare" src="/img/person/filipus-nerius-duali.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Filipus Nerius Duali Suprih Adi</span><br>'St. Christoforus
  </tr></table>
</div>

<div id="christoforus" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Vinsentius Pairin','/img/person/vinsentius-pairin.jpg','ASISTEN IMAM',''St. Christoforus')">
        <img class="iconsquare" src="/img/person/vinsentius-pairin.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Vinsentius Pairin</span><br>'St. Christoforus
  </tr></table>
</div>

<div id="christoforus" class="w3-panel w3-card w3-whitewash">
  <table cellpadding="0" cellspacing="0"><tr>
    <td class="tdicon">
      <a href="javascript:ShowPhotoBox('Yanuarius Budi Ernawan ','/img/person/yanuarius-budi-ernawan.jpg','ASISTEN IMAM',''St. Christoforus')">
        <img class="iconsquare" src="/img/person/yanuarius-budi-ernawan.jpg">
      </a>
    </td>
    <td class="tddesc">
      <span class="nama">Yanuarius Budi Ernawan </span><br>'St. Christoforus
  </tr></table>
</div>
