<div class='modal' id='aboutModal'>
  <!-- Modal content -->
  <div class='modal-content' style="color:white">
    <div class='close'>&#215;</div>
    <div class='modal-body'>
        <!-- <span class='close'>&#215;</span> -->
        <div>
            <img src='/img/smdtba-sharelogo.PNG' style='width:150px; margin: 0 0 10px 10px;'>
        </div>
        <span style="font-size:18px; font-weight:bold;">Team Web SMDTBA</span>
		<span><em>komedi@parokitulungagung.org</em></span>
    </div>
  </div>
</div>
<div id="div_footer">
  <table class="tabledef table100">
    <tr>
      <td class="tdfooter">
        Copyright © <b>Paroki Santa Maria Dengan Tidak Bernoda Asal Tulungagung</b>
        <br>Email: komedi@parokitulungagung.org |&nbsp;Dikelola oleh :<br> 
        <button class="btdef btabout" onclick="javascript:ShowAboutBox()">Team Web SMDTBA</button>
        <!-- <a href="javascript:ShowAboutBox()" id="myAboutLink"><b>Team Web SMDTBA</b></a> -->
        <a href="#top"><i id="topjump" class="fa fa-arrow-circle-up"></i></a>
      </td>
    </tr>
  </table>
</div>