 <body class="bg-gray-50 min-h-screen flex flex-col">
  <header class="bg-white shadow-md">
   <div class="container mx-auto px-4 py-5 flex justify-between items-center">
<a href="/pages/komedi.html">
  <img src="/img/icon/icon_komedi.png" alt="KoMedi Logo" style="height: 40px;">
</a>
    <nav>
     <ul class="flex space-x-6 text-gray-600 font-medium">
      <li>
       <a class="hover:text-gray-900" href="/">
        Homepage
       </a>
      </li>
      <li>
       <a class="hover:text-gray-900" href="/pages/komedi.html">
        Katalog
       </a>
      </li>
      <li>
       <a class="hover:text-gray-900" target="_blank" rel="noopener noreferrer" href="https://wa.me/6285183068895">
        Kontak
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </header>