<!-- listkategorial.html -->
<div style="padding:10px">
  <div style="margin-bottom: 1em">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="tdiconheadline"><img class="iconheadline" src="/img/icon/icon_square_kategorial3.png"></td>
        <td style="padding-left:0.2em">
          <span class="headline_title">KEGIATAN KELOMPOK KATEGORIAL</span><br />
          <span class="headline_subtitle">DAN KEGIATAN LAINNYA</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="w3-container w3-card" style="background-color:#e0e9ee">

    <!-- isi kegiatan -->
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/komsos.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/komsos.png" ></td>
        <td class="tddesc"><span class="namakategorial">Komunikasi Sosial</span><br/><span>Santa Maria Dengan Tidak Bernoda Asal</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/bia.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/bia.png" ></td>
        <td class="tddesc"><span class="namakategorial">BIAK</span><br/><span>(SMDTBA) St. Nikolas</span>      
    </td></tr></table></div>      
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/pdkk.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/pdkk.png" ></td>
        <td class="tddesc"><span class="namakategorial">PDKK</span><br/><span>Persekutuan Doa Karismatik Katolik</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/wanitakatolik.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/wanita-katolik.png" ></td>
        <td class="tddesc"><span class="namakategorial">Wanita Katolik</span><br/><span>Santa Maria Dengan Tidak Bernoda Asal</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/omk.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/omk.png" ></td>
        <td class="tddesc"><span class="namakategorial">Orang Muda Katolik</span><br/><span>St. Aloysius Gonzaga</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/lektor.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/lektor.png" ></td>
        <td class="tddesc"><span class="namakategorial">Lektor</span><br/><span>Santa Maria Dengan Tidak Bernoda Asal</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/pemazmur.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/pemazmur.png" ></td>
        <td class="tddesc"><span class="namakategorial">Pemazmur</span><br/><span>Santa Maria Dengan Tidak Bernoda Asal</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/misdinar.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon/kategorial/misdinar.png" ></td>
        <td class="tddesc"><span class="namakategorial">Misdinar</span><br/><span>(SMDTBA) St. Tarsisius</span>
    </td></tr></table></div>
<div class="w3-panel w3-card" 
    onclick="location.href='/pages/kategorial/perangkaibunga.html';" ><table class="tabledef"><tr><td class="tdicon"><img class="iconkat" src="/img/icon//kategorial/perangkaibunga.png" ></td>
        <td class="tddesc"><span class="namakategorial">Perangkai Bunga Altar</span><br/><span>(SMDTBA) St. Maria Goretti</span>
    </td></tr></table></div>


</div></div>
  </div>
</div>
