<!-- MENU DIV -->
<div style="clip-path: inset(0% 0% 0% 0%);"> <!-- for animation clipping -->
	<div id="divmenu" style="display:block">		
		<table style="padding:0;margin:0;border-collapse: collapse;"><tr><td>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/';"><tr><td class='tdtombol_icon'>
					<a href="/"><img class='imgtombol' src="/img/icon/icon_square_home1.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/">Home</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/agenda.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/agenda.html"><img class='imgtombol' src="/img/icon/icon_square_agenda.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/agenda.html">Info Paroki</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/galeri.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/galeri.html"><img class='imgtombol' src="/img/icon/icon_square_foto.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/galeri.html">Galeri Foto</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/petugas.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/petugas.html"><img class='imgtombol' src="/img/icon/icon_square_petugas.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/petugas.html">Jadwal Petugas</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/kategorial.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/kategorial.html"><img class='imgtombol' src="/img/icon/icon_square_kategorial3.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/kategorial.html">Kategorial</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/profil_ai.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/profil_ai.html"><img class='imgtombol' src="/img/icon/icon_square_ai.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/profil_ai.html">Asisten Imam</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/profil_dpp.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/profil_dpp.html"><img class='imgtombol' src="/img/icon/icon_square_dpp.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/profil_dpp.html">DPP &amp; BGKP</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/profil_lingkungan.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/profil_lingkungan.html"><img class='imgtombol' src="/img/icon/icon_square_lingkungan.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/profil_lingkungan.html">Wilayah</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/berita.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/berita.html"><img class='imgtombol' src="/img/icon/icon_square_berita.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/berita.html">Liputan Berita</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/download.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/download.html"><img class='imgtombol' src="/img/icon/icon_square_download1.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/download.html">Dokumen</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/komedi.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/komedi.html"><img class='imgtombol' src="/img/icon/icon_square_komedi.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/komedi.html">KoMeDi</a></td></tr></table></div>
			<div class='divtombol'><table class='tbtombol' 
				onclick="location.href='/pages/anyflip.html';"><tr><td class='tdtombol_icon'>
					<a href="/pages/anyflip.html"><img class='imgtombol' src="/img/icon/anyflip.png"></a></td></tr>
					<tr><td class='tdtombol_text'><a class='ashort' href="/pages/anyflip.html">E-Lonceng</a></td></tr></table></div>
			</td></tr></table>	
		</div>
    </div>
