<!-- MENU DIV -->
<div style="clip-path: inset(0% 0% 0% 0%);"> <!-- for animation clipping -->
	<div id="divmenu" class="menutombol" style="display:block">		
		<table style="padding:0;margin:0;border-collapse: collapse;"><tr><td>
	<div class="menu-wrapper">
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/';">
					<img class="imgtombol"  src="/img/icon/icon_square_home1.png">
					<span class="tulisan">Home</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/agenda.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_agenda.png">
					<span class="tulisan">Info Paroki</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/galeri.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_foto.png">
					<span class="tulisan">Galeri Foto</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/petugas.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_petugas.png">
					<span class="tulisan">Petugas</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/kategorial.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_kategorial3.png">
					<span class="tulisan">Kategorial</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/profil_ai.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_ai.png">
					<span class="tulisan">Asisten Imam</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/profil_dpp.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_dpp.png">
					<span class="tulisan">DPP &amp; BGKP</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/profil_lingkungan.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_lingkungan.png">
					<span class="tulisan">Wilayah</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/berita.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_berita.png">
					<span class="tulisan">Liputan Berita</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/download.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_download1.png">
					<span class="tulisan">Dokumen</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/komedi.html';">
					<img class="imgtombol"  src="/img/icon/icon_square_komedi.png">
					<span class="tulisan">Merchandise</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/anyflip.html';">
					<img class="imgtombol"  src="/img/icon/anyflip.png">
					<span class="tulisan">E-Lonceng</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/kronik.html';">
					<img class="imgtombol"  src="/img/icon/icon_kronik.png">
					<span class="tulisan">Kronik</span>
				</div>
			<div class="divtombol" style="margin-bottom:5px"
				onclick="location.href='/pages/historia.html';">
					<img class="imgtombol"  src="/img/icon/icon_historia.png">
					<span class="tulisan">Historia</span>
				</div>
		</div>
		</div>
    </div>
