<div class="w3-container w3-card" style="background-color:#d6ece6">

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Adrianus Tri Hardianto','/img/person/ketua-stasi-ngunut.jpg','KETUA STASI','Stasi Ngunut')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-fransiskus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Adrianus Tri Hardianto','/img/person/ketua-stasi-ngunut.jpg','KETUA STASI','Stasi Ngunut')">
    <span class="greyfont">Stasi Ngunut</span><br/>
    <span class="greyfont"><br />Ketua Stasi: </span><b>Adrianus Tri Hardianto</b></td><td class="tdnum">1
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Jovita Sudarti','/img/person/ketua-stasi-rejotangan.jpg','KETUA STASI','Stasi Rejotangan')">
        <img class="iconsquare" src="/img/person/ketua-stasi-rejotangan.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Jovita Sudarti','/img/person/ketua-stasi-rejotangan.jpg','KETUA STASI','Stasi Rejotangan')">
    <span class="greyfont">Stasi Rejotangan</span><br/>
    <span class="greyfont"><br />Ketua Stasi:</span><b>Jovita Sudarti</b></td><td class="tdnum">2
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Timotheus Elfin Widijatmiko','/img/person/ketua-stasi-trenggalek.jpg','KETUA STASI','Stasi Trenggalek')">
        <img class="iconsquare" src="/img/person/ketua-stasi-trenggalek.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Timotheus Elfin Widijatmiko','/img/person/ketua-stasi-trenggalek.jpg','KETUA STASI','Stasi Trenggalek')">
    <span class="greyfont">Stasi Trenggalek</span><br/>
    <span class="greyfont"><br />Ketua Stasi:</span><b>Timotheus Elfin Widijatmiko</b></td><td class="tdnum">3
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Dominikus Dimas Pamungkas','/img/person/ketua-stasi-dongko.jpg','KETUA STASI','Stasi Dongko')">
        <img class="iconsquare" src="/img/person/ketua-stasi-dongko.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Dominikus Dimas Pamungkas','/img/person/ketua-stasi-dongko.jpg','KETUA STASI','Stasi Dongko')">
    <span class="greyfont">Stasi Dongko</span><br/>
    <span class="greyfont"><br />Ketua Stasi:</span><b>Dominikus Dimas Pamungkas</b></td><td class="tdnum">4
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Ubertus Ratijo','/img/person/ketua-stasi-sendang.jpg','KETUA LINGKUNGAN','Stasi Sendang')">
        <img class="iconsquare" src="/img/person/ketua-stasi-sendang.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Ubertus Ratijo','/img/person/ketua-stasi-sendang.jpg','KETUA LINGKUNGAN','Stasi Sendang')">
    <span class="greyfont">Stasi Sendang</span><br/>
    <span class="greyfont"><br />Ketua Stasi:</span><b>Ubertus Ratijo</b></td><td class="tdnum">5
                    </td></tr></table></div>