<div class="w3-container w3-card" style="background-color:#d6ece6">
    <table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Wilayah 3 (Santo Petrus – Paulus)</span><br/>
<span class="darkgreyfont">Koordinator: </span>
    <b>Amadeus Egar</b></td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Amadeus Egar','/img/person/ketua-wilayah-3.jpg','KOORDINATOR WILAYAH','Wilayah 3')">
    <img class="iconcircle" src="/img/person/ketua-wilayah-3.jpg"/>
</td></tr></table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yustianus Bedi','/img/person/ketua-lingkungan-fransiskus.jpg','KETUA LINGKUNGAN','Lingkungan St. Fransiskus')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-fransiskus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Yustianus Bedi','/img/person/ketua-lingkungan-fransiskus.jpg','KETUA LINGKUNGAN','Lingkungan St. Christophorus')">
    <span class="greyfont">Lingkungan St. Fransiskus</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Yustianus Bedi</b></td><td class="tdnum">1
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yuliana Endyah Retnowati','/img/person/ketua-lingkungan-gregorius.jpg','KETUA LINGKUNGAN','Lingkungan St. Gregorius')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-gregorius.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Yuliana Endyah Retnowati','/img/person/ketua-lingkungan-gregorius.jpg','KETUA LINGKUNGAN','Lingkungan St. Gregorius')">
    <span class="greyfont">Lingkungan St. Gregorius</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan:</span><b>Yuliana Endyah Retnowati</b></td><td class="tdnum">2
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Theresia Marlina Wijayanti','/img/person/ketua-lingkungan-gabriel.jpg','KETUA LINGKUNGAN','Lingkungan St. Gabriel')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-gabriel.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Theresia Marlina Wijayanti','/img/person/ketua-lingkungan-gabriel.jpg','KETUA LINGKUNGAN','Lingkungan St. Gabriel')">
    <span class="greyfont">Lingkungan St. Gabriel</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Theresia Marlina Wijayanti</b></td><td class="tdnum">3
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Marc Danu Saksono','/img/person/ketua-lingkungan-hieronimus.jpg','KETUA LINGKUNGAN','Lingkungan St. Hieronimus')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-hieronimus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Marc Danu Saksono','/img/person/ketua-lingkungan-hieronimus.jpg','KETUA LINGKUNGAN','Lingkungan St. Hieronimus')">
    <span class="greyfont">Lingkungan St. Hieronimus</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Marc Danu Saksono</b></td><td class="tdnum">4
                    </td></tr></table></div>       

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Agustinus Ambrusius Gatot Muryoto','/img/person/ketua-lingkungan-johanes.jpg','KETUA LINGKUNGAN','Lingkungan St. Johanes')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-johanes.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Agustinus Ambrusius Gatot Muryoto','/img/person/ketua-lingkungan-johanes.jpg','KETUA LINGKUNGAN','Lingkungan St. Johanes')">
    <span class="greyfont">Lingkungan St. Johanes</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Agustinus Ambrusius Gatot Muryoto</b></td><td class="tdnum">5
                    </td></tr></table></div>     