<div class="w3-container w3-card" style="background-color:#d6ece6">
    <table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Wilayah 2 (Santo Yakobus)</span><br/>
<span class="darkgreyfont">Koordinator: </span>
    <b>Herman Yoseph Agung Effrianto</b></td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Herman Yoseph Agung Effrianto','/img/person/ketua-wilayah-2.jpg','KOORDINATOR WILAYAH','Wilayah 2')">
    <img class="iconcircle" src="/img/person/ketua-wilayah-2.jpg"/>
</td></tr></table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Vincentius Pairin','/img/person/ketua-lingkungan-christophorus.jpg','KETUA LINGKUNGAN','Lingkungan St. Christophorus')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-christophorus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Vincentius Pairin','/img/person/ketua-lingkungan-christophorus.jpg','KETUA LINGKUNGAN','Lingkungan St. Christophorus')">
    <span class="greyfont">Lingkungan St. Christophorus</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Vincentius Pairin</b></td><td class="tdnum">1
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Marianus Ari Wijaya','/img/person/ketua-lingkungan-clara.jpg','KETUA LINGKUNGAN','Lingkungan St. Clara')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-clara.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Marianus Ari Wijaya','/img/person/ketua-lingkungan-clara.jpg','KETUA LINGKUNGAN','Lingkungan St. Clara')">
    <span class="greyfont">Lingkungan St. Clara</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan:</span><b>Marianus Ari Wijaya</b></td><td class="tdnum">2
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Vincentia Sunarlin','/img/person/ketua-lingkungan-dominikus.jpg','KETUA LINGKUNGAN','Lingkungan St. Dominikus')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-dominikus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Vincentia Sunarlin','/img/person/ketua-lingkungan-dominikus.jpg','KETUA LINGKUNGAN','Lingkungan St. Dominikus')">
    <span class="greyfont">Lingkungan St. Dominikus</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Vincentia Sunarlin</b></td><td class="tdnum">3
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Margaretha Dewi Sari Mulia','/img/person/ketua-lingkungan-elisabeth.jpg','KETUA LINGKUNGAN','Lingkungan St. Elisabeth')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-elisabeth.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Margaretha Dewi Sari Mulia','/img/person/ketua-lingkungan-elisabeth.jpg','KETUA LINGKUNGAN','Lingkungan St. Elisabeth')">
    <span class="greyfont">Lingkungan St. Elisabeth</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Margaretha Dewi Sari Mulia</b></td><td class="tdnum">4
                    </td></tr></table></div>                    