<div class="w3-container w3-card" style="background-color:#d6ece6">
    <table cellpadding="0" cellspacing="0"><tr>
        <td class="tddesc"><span class="wilayah">Wilayah 1 (Santo Yoseph)</span><br/>
<span class="darkgreyfont">Koordinator: </span>
    <b>Yohanes Rasul Hariyadi</b></td>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yohanes Rasul Hariyadi','/img/person/ketua-wilayah-1.jpg','KOORDINATOR WILAYAH','Wilayah 1')">
    <img class="iconcircle" src="/img/person/ketua-wilayah-1.jpg"/>
</td></tr></table>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Yosef Tas’Au','/img/person/ketua-lingkungan-antonius.jpg','KETUA LINGKUNGAN','Lingkungan St. Antonius')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-antonius.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Yosef Tas’Au','/img/person/ketua-lingkungan-antonius.jpg','KETUA LINGKUNGAN','Lingkungan St. Antonius')">
    <span class="greyfont">Lingkungan St. Antonius</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Yosef Tas’Au</b></td><td class="tdnum">1
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Albertus Sujiwa','/img/person/ketua-lingkungan-agnes.jpg','KETUA LINGKUNGAN','Lingkungan St. Agnes')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-agnes.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Albertus Sujiwa','/img/person/ketua-lingkungan-agnes.jpg','KETUA LINGKUNGAN','Lingkungan St. Agnes')">
    <span class="greyfont">Lingkungan St. Agnes</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan:</span><b>Albertus Sujiwa</b></td><td class="tdnum">2
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Fransiska Sri Maryanti','/img/person/ketua-lingkungan-benediktus.jpg','KETUA LINGKUNGAN','Lingkungan St. Benediktus')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-benediktus.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Fransiska Sri Maryanti','/img/person/ketua-lingkungan-benediktus.jpg','KETUA LINGKUNGAN','Lingkungan St. Benediktus')">
    <span class="greyfont">Lingkungan St. Benediktus</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Fransiska Sri Maryanti</b></td><td class="tdnum">3
                    </td></tr></table></div>

<div class="w3-panel w3-card" >
    <table cellpadding="0" cellspacing="0"><tr>
<td class="tdicon">
    <a href="javascript:ShowPhotoBox('Katarina Diyah Prastiwi','/img/person/ketua-lingkungan-ignatius.jpg','KETUA LINGKUNGAN','Lingkungan St. Ignatius')">
        <img class="iconsquare" src="/img/person/ketua-lingkungan-ignatius.jpg"/>
<td class="tddesc">
    <a href="javascript:ShowPhotoBox('Katarina Diyah Prastiwi','/img/person/ketua-lingkungan-ignatius.jpg','KETUA LINGKUNGAN','Lingkungan St. Ignatius')">
    <span class="greyfont">Lingkungan St. Ignatius</span><br/>
    <span class="greyfont"><br />Ketua Lingkungan: </span><b>Katarina Diyah Prastiwi</b></td><td class="tdnum">4
                    </td></tr></table></div>                    