<details>
            <summary><b>Desember</b> (selengkapnya klik disini)</summary>
            <div class="galeri-bulan">
<div class="w3-container w3-card" style="padding:14px 8px 8px 8px; border-radius:6px; background-color:#e0e9ee">
	<span class="bulan"><b>Desember</b></span>

    <div class="w3-panel w3-card" 
		onclick="location.href='https://photos.app.goo.gl/';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
			<img class="iconsquare" src="/public/galeri/2112_misa_hr_natal.jpg" /></td><td class="tddesc">
				<span class="datefont">25 Desember 2024<br/></span><span class="kring">Misa Hari Raya Natal</span><span class="greyfont"><br />Foto : Tim Dokumentasi SMDTBA</span>
				</td></tr></table></div>

	<div class="w3-panel w3-card" 
		onclick="location.href='https://photos.app.goo.gl/';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
			<img class="iconsquare" src="/public/galeri/2112_misa_hr_natal.jpg" /></td><td class="tddesc">
				<span class="datefont">25 Desember 2024<br/></span><span class="kring">Misa Hari Raya Natal</span><span class="greyfont"><br />Foto : Tim Dokumentasi SMDTBA</span>
				</td></tr></table></div>	
</div>
</details>