<div class="w3-container w3-card" style="padding:14px 8px 8px 8px; border-radius:6px; background-color:#e0e9ee">
		<span class="bulan"><b>MARET</b></span>

		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/9ffEtPWivNa3tTbr7';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_9_maret_babtis_bayi.jpg" /></td><td class="tddesc">
					<span class="datefont">9 Maret 2025<br/></span><span class="kring">Babtis Bayi</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>	
		</div>

        <div class="w3-container w3-card" style="padding:14px 8px 8px 8px; border-radius:6px; background-color:#eee0e0">
		<span class="bulan"><b>April</b></span>			
	
        <div class="w3-panel w3-card"
			onclick="location.href='https://photos.app.goo.gl/mCYYM755Pgh7tijy6';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_13_april_minggu_palma.jpg" /></td><td class="tddesc">
					<span class="datefont">13 April 2025<br/></span><span class="kring">Minggu Palma</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>		
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/mMFsvuXb8nvsDw2M8';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_17_april_kamis_putih.jpg" /></td><td class="tddesc">
					<span class="datefont">17 April 2025<br/></span><span class="kring">Kamis Putih</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/XwEfDCVYZJA63bd3A';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_18_april_jumat_agung.jpg" /></td><td class="tddesc">
					<span class="datefont">18 April 2025<br/></span><span class="kring">Jumat Agung</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>		
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/WyofY6HoBnUjDaTF8';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_19_april_vigili_paskah.jpg" /></td><td class="tddesc">
					<span class="datefont">19 April 2025<br/></span><span class="kring">Vigili Paskah</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/9Myg4ntCoYoRm7eh6';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_19_april_vigili_paskah_stasi_ngunut.jpg" /></td><td class="tddesc">
					<span class="datefont">19 April 2025<br/></span><span class="kring">Vigili Paskah Stasi Ngunut</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>				
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/DtE9trWWKwN1UA3Q7';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_20_april_minggu_paskah.jpg" /></td><td class="tddesc">
					<span class="datefont">20 April 2025<br/></span><span class="kring">Minggu Paskah</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>						
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/3YF3xcdLk24woodQ6';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_20_april_minggu_paskah_stasi_dongko.jpg" /></td><td class="tddesc">
					<span class="datefont">20 April 2025<br/></span><span class="kring">Minggu Paskah Stasi Dongko</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>						
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/PP9rZDrjUHaaB1aY6';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_20_april_biak_paskah_ceria.jpg" /></td><td class="tddesc">
					<span class="datefont">20 April 2025<br/></span><span class="kring">Biak Paskah Ceria</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>	
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/2qcmauU5kTVRnUe98';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_25_april_misa_requiem_bapa_paus_fransiskus.jpg" /></td><td class="tddesc">
					<span class="datefont">25 April 2025<br/></span><span class="kring">Misa Requiem Bapa Paus Fransiskus</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>	
		</div>

        <div class="w3-container w3-card" style="padding:14px 8px 8px 8px; border-radius:6px; background-color:#e1eee0">
		<span class="bulan"><b>Mei</b></span>		

		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/9cL74GQ9sQVXqXnaA';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_10_mei_misa_perdana_uskup_didik_smdtba.jpg" /></td><td class="tddesc">
					<span class="datefont">10 Mei 2025<br/></span><span class="kring">Misa Perdana Bapa Uskup di Paroki SMDTBA</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>		
		<div class="w3-panel w3-card" 
			onclick="location.href='https://photos.app.goo.gl/9QwLqnQiAb9DiLt56';" ><table cellpadding="0" cellspacing="0" ><tr><td class="tdicon">
				<img class="iconsquare" src="/public/galeri/2025_11_mei_krisma.jpg" /></td><td class="tddesc">
					<span class="datefont">11 Mei 2025<br/></span><span class="kring">Krisma</span><span class="greyfont"><br />Foto: Dok. Komsos SMDTBA</span>
				</td></tr></table></div>		