<main class="container mx-auto px-4 py-10 flex-grow">
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    
<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">   
    <img alt="Baju putih dengan lengan pendek, terbuat dari bahan katun berkualitas tinggi yang nyaman dipakai sehari-hari, dengan bertuliskan (Diajak Misa Susah, Diajak Piknik Oke Dah)" 
     class="w-full h-64 object-cover" height="400" src="/img/katalog/db001.png"/>
    <div class="p-4 flex flex-col flex-grow">
      <h3 class="text-xl font-semibold text-gray-900 mb-2">
       Domba Yang Healing
      </h3>
      <p class="text-gray-700 flex-grow mb-4">
       Code:  DB001 </br> - Ultrasoft Cotton Combed 30's 
                    </br> - Short Sleeve T-shirts 
                    </br> - Direct Transfer Film Full Color Printing 
      </p>
      <a class="hover:text-lg font-bold text-gray-600" href="/components/listkatalog/db001.html">
        Detail (klik disini)
      </a>
      <p class="text-lg font-bold text-indigo-600">
       Rp 100.000
      </p>

    </div>
</div>

   </div>
  </main>